    <!-- FOOTER -->
    <footer class="text-center fixed-bottom bg-dark text-bg-dark pt-3">
        <p class="ut-red">
          <span class="text-white">&copy; 2023</span> [[[곽계영 2026003 ]]]
        </p>
      </footer>