<header class="header">
    <div class="container">
      <div class="container-left">
        <!-- 로고 -->
        <figure class="logo">
          <a href="/">
            🚈
            <h1 class="site-title">
              <span class="ut-red">UT</span>-NodeJS 중간고사
            </h1>
          </a>
        </figure>

        <!-- 메뉴 -->
        <nav class="menu">
          <a
            class="menu-item"
            name="Transportation"
            href="/transportation"
            >교통</a
          >
          <a class="menu-item active" name="Contact" href="/contact"
            >연락</a
          >
        </nav>

        <!-- 반응형 메뉴 버튼 -->
        <div id="menu-button">Menu</div>
      </div>
    </div>
  </header>